<nav class="navbar navbar-expand-lg navbar-light navbar_color fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" traverseTo="/">
            Plone Rest Angular Demo
        </a>
        <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" [hidden]="collapse">
            <ul class="navbar-nav ml-auto" role="tablist">
                <li class="nav-item" *ngFor="let link of links" [ngClass]="{'active': link.active}">
                    <a class="nav-link" [traverseTo]="link.path">{{ link.title }}</a></li>
            </ul>
        </div>
    </div>
</nav>