<div class="container" *ngIf="context">
    <h1>{{context.title}}</h1>
    <h5> Auhor: <span *ngFor="let c of context.creators">{{c}}</span></h5>
    <h5> Created: {{context.created | date: 'dd/MM/yyyy HH:mm'}} </h5>

    <p [innerHTML]="context.text.data"></p>


</div>