/* You can add global styles to this file, and also import other style files */
// @import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 3.5rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*[traverseTo], *[ng-reflect-traverse-to] {
  cursor: pointer;
}

a, a:hover, a:focus {
  color: $blue;
}

.breadcrumb {
  background-color: transparent;
  & > .active {
    color: black;
  }
}

